.menu-list {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, 150px);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);   
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 0;
    background-color: rgb(162, 183, 202);;
    justify-content: center;
}

.menu-item {
    border: none;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(78, 78, 161);
    border-radius: 5px;
}